article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden], template {
  display: none; }

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a {
  background: transparent; }
  a:focus {
    outline: thin dotted; }
  a:hover, a:active {
    outline: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

h2 {
  font-size: 1.5em;
  margin: 0.83em 0; }

h3 {
  font-size: 1.17em;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  margin: 1.33em 0; }

h5 {
  font-size: 0.83em;
  margin: 1.67em 0; }

h6 {
  font-size: 0.75em;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
  input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none; }
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

.row {
  height: 1px; }

.row-expanded {
  height: 100%; }

.foot {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  text-align: center; }

body {
  margin: 0 0 100px; }

header {
  background: #297499;
  width: 100%;
  text-align: center; }

html {
  min-height: 100%;
  position: relative;
  background: #e5e5e5; }

* {
  font-family: "Cutive Mono", monospace; }

.wrapper {
  width: 90%;
  margin: 0 auto; }
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.iconic {
  width: 50%;
  margin: 2% 25%; }

.focal {
  width: 100%;
  margin: 0 auto; }

@media screen and (min-width: 960px) {
  .logo {
    width: 20%;
    margin: 0 40%; }

  .col-3 {
    width: 30%;
    margin-left: 5%;
    float: left;
    border-radius: 20px;
    text-align: center;
    min-height: 200px;
    overflow: hidden;
    margin-bottom: 3%;
    position: relative;
    cursor: default; }
    .col-3:first-child {
      margin-left: 0; }

  .box .mask, .box .content {
    width: 100%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }

  .box img {
    display: block;
    position: relative; }

  .box h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: "Cutive Mono", monospace;
    background: #297499;
    border-radius: 10px;
    color: white;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .box p {
    font-family: "Cutive Mono", monospace;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0px 20px 0px;
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box .mask {
    background-color: rgba(186, 12, 113, 0.3);
    width: 350px;
    padding: 105px;
    height: 250px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box:hover .mask {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg); }

  .box:hover h3 {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s; }

  .box:hover p {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s; }

  .box:hover .iconic {
    opacity: 0.2;
    transform: scale(2.3);
    transition: all 0.4s ease-in-out; }

  .col-4 {
    width: 23.5%;
    margin-left: 2%;
    float: left;
    position: relative;
    cursor: default;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    min-height: 240px; }
    .col-4:first-child {
      margin-left: 0; }

  .box2 .mask2, .box2 .content2 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }

  .box2 .iconic {
    display: block;
    position: relative; }

  .box2 h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: "Cutive Mono", monospace;
    background: #297499;
    border-radius: 10px;
    color: white;
    margin: 20px 40px 0px 40px;
    height: 2.5rem; }

  .box2 p {
    font-family: "Cutive Mono", monospace;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0px 20px 0px;
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box2 .mask2 {
    background-color: rgba(186, 12, 113, 0.3);
    width: 400px;
    padding: 105px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box2 .btn {
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out; }

  .box2:hover .btn {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s; }

  .box2:hover .mask2 {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg); }

  .box2:hover p {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s; } }
@media screen and (max-width: 959px) {
  .logo {
    width: 40%;
    margin: 0 30%; }

  .col-3 {
    width: 90%;
    margin-left: 5%;
    float: left;
    border-radius: 20px;
    text-align: center;
    min-height: 230px;
    overflow: hidden;
    margin-bottom: 3%;
    position: relative; }

  .col-3 .iconic {
    width: 40%;
    height: 40%; }

  .box .mask, .box .content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }

  .box img {
    display: block;
    position: relative; }

  .box h3 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: "Cutive Mono", monospace;
    background: #297499;
    border-radius: 10px;
    color: white;
    margin: 20px 40px 0px 40px;
    -webkit-transform: translate(200px, -200px);
    transform: translate(200px, -200px);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }

  .box p {
    font-family: "Cutive Mono", monospace;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0px 20px 0px;
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box .mask {
    background-color: rgba(186, 12, 113, 0.3);
    width: 500px;
    padding: 105px;
    height: 250px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box:hover .mask {
    opacity: 1;
    transform: translate(0px, 0px) rotate(0deg);
    -webkit-transform: translate(0px, 0px) rotate(0deg); }

  .box:hover h3 {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.3s;
    -webkit-transition-delay: 0.3s; }

  .box:hover p {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s; }

  .box:hover .iconic {
    opacity: 0.2;
    transform: scale(2.3);
    transition: all 0.4s ease-in-out; }

  .col-2, .col-5 {
    width: 90%;
    margin-left: 5%;
    float: left;
    border-radius: 20px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 5%;
    position: relative;
    height: 200px; }

  .box2 .mask2, .box2 .content2 {
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0; }

  .box2 .iconic {
    display: block;
    position: relative; }

  .box2 h4 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-family: "Cutive Mono", monospace;
    background: #297499;
    border-radius: 10px;
    color: white;
    margin: 20px 40px 0px 40px;
    height: 2.5rem; }

  .box2 p {
    font-family: "Cutive Mono", monospace;
    font-size: 14px;
    position: relative;
    color: white;
    padding: 0px 20px 0px;
    transform: translate(-200px, 200px);
    -webkit-transform: translate(200px, -200px);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box2 .mask2 {
    background-color: rgba(186, 12, 113, 0.3);
    width: 400px;
    padding: 105px;
    height: 300px;
    opacity: 0;
    transform: translate(265px, 145px) rotate(45deg);
    -webkit-transform: translate(265px, 145px) rotate(45deg);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out; }

  .box2 .btn {
    transform: translate(0px, 100px);
    -webkit-transform: translate(0px, 100px);
    transition: all 0.2s 0.1s ease-in-out;
    -webkit-transition: all 0.2s 0.1s ease-in-out; }

  .box2:hover .btn {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.5s;
    -webkit-transition-delay: 0.5s; }

  .box2:hover .mask2 {
    opacity: 1;
    transform: translate(-80px, -125px) rotate(45deg);
    -webkit-transform: translate(-80px, -125px) rotate(45deg); }

  .box2:hover p {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transition-delay: 0.4s;
    -webkit-transition-delay: 0.4s; } }
.iconic-cogs-cog-large {
  fill: #ba0c71;
  stroke: #5c93af; }

.iconic-cogs-cog-small {
  fill: #297499;
  stroke: #aaa; }

.iconic-tools-screwdriver {
  fill: #297499; }

.iconic-tools-screwdriver-head {
  fill: #adadad; }

.iconic-tools-hammer {
  fill: #adadad; }

.iconic-tools-hammer-handle {
  fill: #ba0c71; }

.iconic-script-body {
  fill: #ba0c71; }

.btn {
  background-color: #297499;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #767676;
  padding-bottom: 2%;
  font-family: inherit;
  height: 2.5rem; }

.btn:hover {
  background-color: #ba0c71;
  color: white;
  border: none;
  border-radius: 10px;
  box-shadow: 3px 3px 6px #767676;
  padding-bottom: 2%;
  font-family: inherit;
  transform: scale(1.1);
  transition: all 0.2s ease-in-out; }

.foot {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%; }

/*# sourceMappingURL=main.css.map */
